$couleurPrincipale: #FF0000;
$couleurSecondaire: #0000FF;
$tailleBoite: 80vmin;

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $tailleBoite;
  height: $tailleBoite;
  border: 4px solid $couleurPrincipale;
  div {
    width: 30%;
    height: 30%;
    border: 2px solid $couleurSecondaire;
  }
}
